
<div class="container mt-4">
  <%= flash[:error] %>
  <div class="topimage mx-auto">
    <p class="welcome-text text-left py-5 pr-5 mx-auto bg-white text-dark align-self-center">
      ようこそ、ながのCAKEへ！ <br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員ではない方も商品の閲覧はできますが、 <br>
      購入には会員登録が必要になります。
    </p>
  </div>

    <div class="mx-auto">
        <div>
            <h2 class="mt-5 ml-5 pl-4 text-left font-weight-bold">新着商品</h2>
        </div>

        <div class="new-item">
        <% @items.each do |item| %>
          <div class="new-item-list m-2">
            <%= link_to item_path(item.id) do %>
              <%= attachment_image_tag item, :image, class: "new-item-box mb-2" %>
            <% end %>
            <p class="m-1 pl-1 text-left font-weight-bold"><%= truncate(item.name, length: 13) %></p>
            <p class="m-1 pl-1 text-left font-weight-bold">¥<%= item.price.to_s(:delimited) %></p>
          </div>
        <% end %>
        </div>

        <div class="text-right">
            <%= link_to "全ての商品を⾒る >", items_path %>
        </div>
    </div>


</div>