<div class="container">
  <div class="my-4">
    <h4 class="information px-5">注文履歴詳細</h4>
  </div>

  <h5>注文情報</h5>
  <table class="table table-bordered">
    <tr>
      <td>注文日</td>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td><%= @order.address %></td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td><%= @order.status_i18n %></td>
    </tr>
  </table>

  <h5>請求情報</h5>
  <table class="table table-bordered">
    <tr>
      <td>商品合計</td>
      <td><%= @order.total_payment.to_s(:delimited) %></td>
    </tr>
    <tr>
      <td>配送料</td>
      <td><%= @order.current_postage %></td>
    </tr>
    <tr>
      <td scope="col">ご請求額</td>
      <td><%= (@order.total_payment + @order.current_postage).to_s(:delimited)%></td>
    </tr>
  </table>

  <h5>注文内容</h5>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <% @order.order_ditails.each do |order_ditail| %>
    <tbody>
      <tr>
        <td><%= order_ditail.item.name %></td>
        <td><%= order_ditail.price %></td>
        <td><%= order_ditail.amount %></td>
        <td><%= order_ditail.subtotal %></td>
      </tr>
    </tbody>
    <% end %>
  </table>

</div>