<div class="container">
  <table class="table table-borderless my-5">
    <tbody>
      <tr>
        <td rowspan="5"><%= attachment_image_tag @item, :image, :fill, 300, 200, format:'jpg' %></td>
        <td colspan="3">
          <h3 class="font-weight-bold"><%= @item.name%></h3>
        </td>
      </tr>
      <tr>
        <td colspan="3" rowspan="3"><%= @item.introduction %></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td class="font-weight-bold">
          <span class="price-text">¥ <%= @item.tax_price.to_s(:delimited) %></span>
          <span class="tax-text">(税込)</span>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
      <tr>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <td></td>
          <td><%= f.select :amount, [["1", 1],["2", 2],["3", 3],["4", 4],["5", 5]], { prompt: "個数選択" } %></td>
          <td><%= f.submit 'カートに入れる', class: "btn btn-success" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>



</div>